###########
# ESPHome #
###########

/.esphome/
/secrets.yaml

###################
# Temporary files #
###################

# Temp
~*
\#*#

# Locks
*.lck

# Save
_autosave*

# Cache
fp-info-cache

# Backups
*-backups
backups/

# Builds
production/